/* Estilos CSS para el formulario */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #6246ea;
    color: #fff;
    padding: 20px;
}

footer{
    position: static;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    
}

li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.container-form{
    max-width: 50%;
    margin: auto;
 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #6246ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #6246ea;
    background-color: #6246ea;


}

td {
    color: #fff;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
}

.listado-container {
    max-width: 70%;
}
.boton-container {
    margin-block: 30px;
}
a{
    text-decoration: none;
}
.listado-servicios a {
    color: #fffffe;
    font-size: 20px;
    background-color: #6246ea;
    border-radius: 15px;
    padding: 10px 10px;
    
}

.listado-servicios li::marker {
    content: 🐾;
}
.uno{
    background-image: url(/images/pexels-oles-kanebckuu-127873.jpg);
    padding: 100px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
}
.dos .container-form{
    background-color: #d1d1e9;
    padding: 50px 30px;
    border-radius: 50px;
}
.tres .container-form {
    background-color: #d1d1e9;
    padding: 50px 30px;
    border-radius: 50px;
}
.cuatro{
    background-image: url(/images/pexels-cottonbro-studio-3957987.jpg);
    padding: 100px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    opacity: 80%;
}
.cuatro h2{
    color: #d1d1e9;
    font-size: 35px;
}
.cinco{
    background-image: url(/images/pexels-jonathan-borba-3279202.jpg);
    padding: 100px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    opacity: 80%;
}
.cinco h2{
    color: #5b5bfd;
    font-size: 35px;
}
